.form{
    text-align: center;
}
.line{
    width: 40%;
    margin-left: 40%;
}
.changecolor{
    color: black;
    margin-right: 15%;
}
.center{
    color:white;
    background-color: black;
}
.middle{
    padding-left: 70px;
}
.card{
    height:400px;
}